<!DOCTYPE html>
<html lang="zh-hant-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="./js/vue.js"></script>

    <!-- bootstrap 引入 -->
    <link rel="stylesheet" href="./stylesheet/all.css" />

    <!-- scrollreveal  -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- JQ -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  </head>
  <body>
    <div id="main" class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="roomsHeader">
            <h1>{{roomsHeader}}</h1>
          </div>
        </div>
        <room-box
          :room-list="items"
          v-for="(items,index) in rooms"
          :key="index"
          v-if="items.id"
        ></room-box>
      </div>
    </div>

    <script src="./js/roomList.js"></script>
    <script src="./js/scrollRevealSet.js"></script>
    <script type="text/x-template" id="room-box">
      <div class="col-md-4 d-flex" >
        <div class="boxTitle">{{roomList.name}}</div>
        <div class="box" :class="">
          <div class="boxImg">
            <img
              :src="roomList.imageUrl"
              alt=""
              class="h-100 w-100 overflow-hidden"
            />
          </div>
          <div class="boxBody mr-auto">
            <div
              class="room-detail d-flex justify-content-between text-center"
            >
              <div class="number">
                <p class="h6">人數</p>
                <p>1</p>
              </div>
              <div class="bed">
                <p class="h6">床</p>
                <p>Single</p>
              </div>
              <div class="size">
                <p class="h6">大小</p>
                <p>18m<sup>2</sup></p>
              </div>
            </div>
            <div class="room-services text-center">
              <p>wifi , 早餐 , 電話 , 空調 , 冰箱 , 禁止吸煙 , 可帶寵物</p>
            </div>

            <div class="room-holidayPrice">
              <p><span>假日</span>${{roomList.holidayPrice}}</p>
            </div>
            <div class="room-normalPrice">
              <p><span>平日</span>${{roomList.normalDayPrice}}</p>
            </div>
          </div>
        </div>
      </div>
    </script>
  </body>
</html>
